body {
  margin: 0;
  padding: 0;
}

 main {
  background: url(images1/FIN_3GBX_Diazgranados_SP23_Zhu_Wei_PR_01.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
 }

 :root {
    font-size: 24px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: helvetica;
}

.column {
    width: 700px;
}

h1 {
    margin: 0;
    letter-spacing: -3px;

}


span {
    position: relative;
    top: 0.8rem;
    display: inline-block;
    overflow: hidden;
    animation: 0.3s swift-up ease-out forwards;
}

p {
    position: relative;
    top: 0.8rem;
    color: ghostwhite;
    font-size: 0.9rem;
    line-height: 1rem;
    animation: 0.3s swift-up ease-out forwards, 0.3s fade-in ease-out forwards;
    opacity: 0;
}

i {
    position: relative;
    top: 2.4rem;
    font-style: normal;
    animation: 0.3s swift-up ease-out forwards;
}

@keyframes swift-up {
    to {
        top: 0;
    }
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

span:nth-of-type(1) i{
    animation-delay: 0s;
}
span:nth-of-type(2) i{
    animation-delay: 0.1s;
}
span:nth-of-type(3) i{
    animation-delay: 0.2s;
}
span:nth-of-type(4) i{
    animation-delay: 0.25s;
}
span:nth-of-type(5) i {
animation-delay:0.3s;
}


#column-0{
  margin:100px;
color: whitesmoke;
text-align: center;
font-style: normal;
font-weight: bold;
line-height: normal;
}

#column-1{
margin:50px;
text-align: center;
}

a{
  color: black;
font-style: normal;
font-weight: bold;
line-height: normal;

}

.copyright {
  align-content: bottom;
  text-align: center;
  padding: 1rem;
  color: #000;
  align-self: center;
  font-size: 15px;
}